/* ShiftSolver CSS

 Solver colors:
  Base black #FFF
  Comments gray #777
  Help #008C00
  Hover dark gray #36393D
  MR blue #356AA0  

 Web 2.0 colors:  
  Shiny silver [#EEEEEE]
  Reddit white [#FFFFFF]
  Magnolia Mag.nolia [#F9F7ED]
  Interactive action yellow [#FFFF88]
  Qoop Mint [#CDEB8B]
  Gmail blue [#C3D9FF]
  Shadows Grey [#36393D]
  Mozilla Red [#FF1A00]
  Rollyo Red [#CC0000]
  RSS Orange [#FF7400]
  Techcrunch green [#008C00]
  Newsvine Green [#006E2E]
  Flock Blue [#4096EE]
  Flickr Pink [#FF0084]
  Ruby on Rails Red [#B02B2C]
  Etsy Vermillion [#D15600]
  43 Things Gold [#C79810]
  Writely Olive [#73880A]
  Basecamp Green [#6BBA70]
  Mozilla Blue [#3F4C6B]
  Digg Blue [#356AA0]
  Last.fm Crimson [#D01F3C]  

 Minimizer:
  http://tools.w3clubs.com/cssmin/
  http://www.codebeautifier.com/
*/

html {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Cambria,Georgia,Myriad Pro,Arial,Helvetica;
	font-size: 100%;
	background: #fff;
}

a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:active {text-decoration: none; color: black;}
a:hover {text-decoration: underline; color: black;}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

/*
 * Employees table
 */

.mf-growsTable {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
.mf-growsTable tbody > tr:first-child {
  background-color: #eee;
}
.mf-growsTable td {
  border: 1px solid #ccc;
}

/*
 * Status line
 */

/* TODO make this additive - base + add on styles */
.mf-statusInfo {
	background-color: #F0F0F0; 
	color: black; 
	font-weight: bolder;
	padding-top: 3px; 
	padding-bottom: 2px; 
	padding-left: 10px; 
	padding-right: 10px; 
	float: left; 
	position: fixed;
	top: 0.3em;	
	left: 0.3em;	
}
.mf-statusProgress {
	background-color: #FFFF88; 
	color: black; 
	font-weight: bolder;
	padding-top: 3px; 
	padding-bottom: 2px; 
	padding-left: 10px; 
	padding-right: 10px; 
	float: left; 
	position: fixed;
	top: 0.3em;	
	left: 0.3em;	
}
.mf-statusError {
	background-color: #CC0000; 
	color: white; 
	font-weight: bolder;
	padding-top: 3px; 
	padding-bottom: 2px; 
	padding-left: 10px; 
	padding-right: 10px; 
	float: left; 
	position: fixed;
	top: 0.3em;	
	left: 0.3em;	
}
.mf-statusHelp {
	background-color: #008C00; 
	color: white; 
	font-weight: bolder;
	margin-top: 1px;
	padding-top: 2px; 
	padding-bottom: 2px; 
	padding-left: 10px; 
	padding-right: 10px; 
	float: left;	 
	position: fixed;
	top: 0.3em;	
	left: 0.3em;	
}

/* eof */
